<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" >Chat App</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-nav">
    <div class="nav-item text-nowrap">
      <button class="btn btn-outline-secondary" style="color: white; margin-right: 20px;" type="button" (click)="logout()">Logout</button>
    </div>
  </div>
</header>
<main class="col-md-9 ms-sm-auto col-lg-12 px-md-4"  >
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2" style="color: rgb(84, 83, 83);">DASHBOARD</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group me-2">
        <button type="button" id="b1" class="btn btn-sm btn-outline-secondary" routerLink="/addfriend/{{userdash?._id}}">Add Friend</button>
        <button type="button" id="b2" class="btn btn-sm btn-outline-secondary" routerLink="/csv">Invite Friend</button>
      </div>
    </div>
  </div>

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

  <div class="container">
    <div class="row clearfix">
      <div class="col-lg-4">
        <div class="card chat-app">
          <section>
            <div id="plist" class="people-list">
              <div class="input-group">
                <div class="input-group-prepend">
                  <!-- <span class="input-group-text"><i class="fa fa-search"></i></span> -->
                </div>
                <!-- <input type="text" class="form-control" placeholder="Search..."> -->
                 <h5  style="text-align: center; color: aliceblue;" >CHAT</h5>
              </div>
              <ul class="list-unstyled chat-list mt-2 mb-0" *ngFor="let item of userdash?.friends;let i = index">
                <a (click)="chathead(item._id)">
                  <li class="clearfix">
                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="avatar">
                    <div class="about">
                      <div class="name"  style="color: aliceblue;"  >{{ item.username }}</div>
                      <div class="status"><i class="fa fa-circle " [ngStyle]="{'color': statusArray[i] === 'online' ? '#198754' : '#dc3545'}" ></i> <span  style="color: white;">{{statusArray[i]}}</span> </div>
                    </div>
                  </li>
                </a>
              </ul>
            </div>
          </section>
        </div>
      </div>

      <div class="col-lg-8">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</main>
