<form [formGroup]="loginform">
<div class="login-box">
	<div class="login-snip">
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Login</label>
		<!-- <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label> -->
		<div class="login-space">
			<div class="login">
				<div class="group">
					<label for="user" class="label">Email</label>
					<input id="user" type="email" class="input"  placeholder="Enter your email"
                    formControlName="email"[ngClass]="{'is-invalid':login.email.errors && (login.email.touched || login.email.dirty)}" >
                    <div *ngIf="login.email.errors && (login.email.touched || login.email.dirty)"  class="invalid-feedback" >
                    <p *ngIf="login.email.errors.required" >Field can't be empty</p>
                    <p  *ngIf="login.email.errors.email">Not a Valid Format</p>
                    </div>
                </div>
				<div class="group">
					<label for="pass" class="label">Password</label>
					<input id="pass" type="password" class="input"  placeholder="Enter your password"
                    formControlName="password" [ngClass]="{'is-invalid':login.password.errors && (login.password.touched || login.password.dirty)}" >
                    <div  *ngIf="login.password.errors && ( login.password.touched || login.password.dirty)" class="invalid-feedback">
                        <p *ngIf="login.password.errors.required" >Field can't be empty</p>
                        <p  *ngIf="login.password.errors.minlength">Requires minimum length of 6</p>
                    </div>

				</div>
				<div class="group">
					<input id="check" type="checkbox" class="check" checked>
					<label for="check"><span class="icon"></span> Keep me Signed in</label>
				</div>
				<div class="group">
					<input type="submit" class="button" value="Log In" (click)="enter()" >
				</div>
				<div class="hr"></div>
				<div class="foot">
					<a href="forgot" >Forgot Password?</a>
				</div>
			</div>
			
		</div>
	</div>
</div>  
</form>