body {
  background-color: #f4f7f6;
  margin-top: 20px;
}

.chat .chat-header {
  padding: 15px 20px;
  border-bottom: 2px solid #f4f7f6;
}

.chat .chat-header img {
  float: left;
  border-radius: 40px;
  width: 40px;
}

.chat .chat-header .chat-about {
  float: left;
  padding-left: 10px;
}

.chat .chatbox-body {
  padding: 20px;
  border-bottom: 2px solid #fff;
  min-height: 350px;
  max-height: 400px;
  overflow-y: auto;
  overflow-y: auto;
  scrollbar-width: none;                  /* Hide the default scrollbar for Firefox */
  -ms-overflow-style: none;               /* Hide the default scrollbar for IE and Edge */

}

.chat .chatbox-body::-webkit-scrollbar {
  width: 0px; /* Hide the default scrollbar for Chrome and Safari */
}

.chat .chatbox-body .messages {
  padding: 0;
}

.chat .chatbox-body .messages .receive-msg,
.chat .chatbox-body .messages .send-container {
  list-style: none;
  margin-bottom: 30px;
}

.chat .chatbox-body .messages .receive-msg:last-child,
.chat .chatbox-body .messages .send-container:last-child {
  margin-bottom: 0;
}

.chat .chatbox-body .messages .message-data {
  margin-bottom: 15px;
}

.chat .chatbox-body .messages .message-data img {
  border-radius: 40px;
  width: 40px;
}

.chat .chatbox-body .messages .message-data-time {
  color: #434651;
  padding-left: 6px;
}

.chat .chatbox-body .messages .message {
  color: #444;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  display: inline-block;
  position: relative;
}

.chat .chatbox-body .messages .message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px;
}

.chat .chatbox-body .messages .my-message {
  background: #efefef;
}

.chat .chatbox-body .messages .my-message:after {
  bottom: 100%;
  left: 30px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #efefef;
  border-width: 10px;
  margin-left: -10px;
}

.chat .chatbox-body .messages .other-message {
  background: #e8f1f3;
  text-align: right;
}

.chat .chatbox-body .messages .other-message:after {
  border-bottom-color: #e8f1f3;
  left: 93%;
}

.chat .chatbox-footer {
  padding: 20px;
}

.chat .chatbox-footer form {
  margin: 0;
}

.chat .chatbox-footer form .msg-para {
  display: inline-block;
  margin: 0;
  padding: 5px;
  border-radius: 5px;
  background-color: #8c6363;
  max-width: 75%;
  word-wrap: break-word;
  white-space: normal;
}

.chat .chatbox-footer form .receive-msg {
  text-align: left;
  margin-left: 10px;
  margin-bottom: 10px;
}

.chat .chatbox-footer form .send-container {
  text-align: right;
}

.chat .chatbox-footer form .send-msg {
  text-align: right;
  margin-bottom: 10px;
  margin-right: 30px;
  margin-top: 10px;
}

/* .chat .chatbox-footer form .receive-msg .msg-para {
  background-color: rgb(219, 168, 74);
}

.chat .chatbox-footer form .send-msg .msg-para {
  background-color: rgb(177, 166, 166);
} */

.msg-para {
  display: inline-block;
  margin: 0;
  padding: 5px;
  border-radius: 5px;
  background-color: #8c6363;
  max-width: 75%;
  word-wrap: break-word;
  white-space: normal;
}

.receive-msg {
  text-align: left;
  /* background-color: orange; */
  margin-left: 10px; 

   margin-bottom: 10px;
}
 
.send-container {
  text-align: right;
}

.send-msg {
  text-align: right;
  margin-bottom: 10px;
  margin-right: 30px;
  margin-top:10px ;
   
  
}

.receive-msg .msg-para {
  background-color: rgb(219, 168, 74) /* Set the background color for message receiver */
}

.send-msg .msg-para {
  background-color:  rgb(177, 166, 166) /* Set the background color for message sender */
}

